Magento Server/Root/app/code/local/Folio3/Sales/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="salesOrderEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="customer_id" type="xsd:string" minOccurs="0" />
                    <element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="subtotal" type="xsd:string" minOccurs="0" />
                    <element name="grand_total" type="xsd:string" minOccurs="0" />
                    <element name="total_paid" type="xsd:string" minOccurs="0" />
                    <element name="total_refunded" type="xsd:string" minOccurs="0" />
                    <element name="total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <element name="total_canceled" type="xsd:string" minOccurs="0" />
                    <element name="total_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="total_online_refunded" type="xsd:string" minOccurs="0" />
                    <element name="total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal" type="xsd:string" minOccurs="0" />
                    <element name="base_grand_total" type="xsd:string" minOccurs="0" />
                    <element name="base_total_paid" type="xsd:string" minOccurs="0" />
                    <element name="base_total_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <element name="base_total_canceled" type="xsd:string" minOccurs="0" />
                    <element name="base_total_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_total_online_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <element name="billing_address_id" type="xsd:string" minOccurs="0" />
                    <element name="billing_firstname" type="xsd:string" minOccurs="0" />
                    <element name="billing_lastname" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address_id" type="xsd:string" minOccurs="0" />
                    <element name="shipping_firstname" type="xsd:string" minOccurs="0" />
                    <element name="shipping_lastname" type="xsd:string" minOccurs="0" />
                    <element name="billing_name" type="xsd:string" minOccurs="0" />
                    <element name="shipping_name" type="xsd:string" minOccurs="0" />
                    <element name="store_to_base_rate" type="xsd:string" minOccurs="0" />
                    <element name="store_to_order_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_to_global_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_to_order_rate" type="xsd:string" minOccurs="0" />
                    <element name="weight" type="xsd:string" minOccurs="0" />
                    <element name="store_name" type="xsd:string" minOccurs="0" />
                    <element name="remote_ip" type="xsd:string" minOccurs="0" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="state" type="xsd:string" minOccurs="0" />
                    <element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <element name="global_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="base_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="store_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="order_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="shipping_method" type="xsd:string" minOccurs="0" />
                    <element name="shipping_description" type="xsd:string" minOccurs="0" />
                    <element name="customer_email" type="xsd:string" minOccurs="0" />
                    <element name="customer_firstname" type="xsd:string" minOccurs="0" />
                    <element name="customer_lastname" type="xsd:string" minOccurs="0" />
                    <element name="quote_id" type="xsd:string" minOccurs="0" />
                    <element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <element name="customer_group_id" type="xsd:string" minOccurs="0" />
                    <element name="customer_note_notify" type="xsd:string" minOccurs="0" />
                    <element name="customer_is_guest" type="xsd:string" minOccurs="0" />
                    <element name="email_sent" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="gift_message_id" type="xsd:string" minOccurs="0" />
                    <element name="gift_message" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                    <element name="billing_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                    <element name="items" type="typens:salesOrderItemEntityArray" minOccurs="0" />
                    <element name="payment" type="typens:salesOrderPaymentEntity" minOccurs="0" />
                    <element name="status_history" type="typens:salesOrderStatusHistoryEntityArray" minOccurs="0" />
                    <!-- created by allzohu: start -->
                    <element name="custom_salesorder_attribute" type="typens:customAttributeEntityArray" minOccurs="0" />
                    <element name="custom_customer_attribute" type="typens:customAttributeEntityArray" minOccurs="0" />
                    <!-- created by allzohu: end -->
                </all>
            </complexType>
            <complexType name="salesOrderAddressEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="address_type" type="xsd:string" minOccurs="0" />
                    <element name="firstname" type="xsd:string" minOccurs="0" />
                    <element name="lastname" type="xsd:string" minOccurs="0" />
                    <element name="company" type="xsd:string" minOccurs="0" />
                    <element name="street" type="xsd:string" minOccurs="0" />
                    <element name="city" type="xsd:string" minOccurs="0" />
                    <element name="region" type="xsd:string" minOccurs="0" />
                    <element name="postcode" type="xsd:string" minOccurs="0" />
                    <element name="country_id" type="xsd:string" minOccurs="0" />
                    <element name="telephone" type="xsd:string" minOccurs="0" />
                    <element name="fax" type="xsd:string" minOccurs="0" />
                    <element name="region_id" type="xsd:string" minOccurs="0" />
                    <element name="address_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderItemEntity">
                <all>
                    <element name="item_id" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="quote_item_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="product_id" type="xsd:string" minOccurs="0" />
                    <element name="product_type" type="xsd:string" minOccurs="0" />
                    <element name="product_options" type="xsd:string" minOccurs="0" />
                    <element name="weight" type="xsd:string" minOccurs="0" />
                    <element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="name" type="xsd:string" minOccurs="0" />
                    <element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <element name="free_shipping" type="xsd:string" minOccurs="0" />
                    <element name="is_qty_decimal" type="xsd:string" minOccurs="0" />
                    <element name="no_discount" type="xsd:string" minOccurs="0" />
                    <element name="qty_canceled" type="xsd:string" minOccurs="0" />
                    <element name="qty_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="qty_ordered" type="xsd:string" minOccurs="0" />
                    <element name="qty_refunded" type="xsd:string" minOccurs="0" />
                    <element name="qty_shipped" type="xsd:string" minOccurs="0" />
                    <element name="cost" type="xsd:string" minOccurs="0" />
                    <element name="price" type="xsd:string" minOccurs="0" />
                    <element name="base_price" type="xsd:string" minOccurs="0" />
                    <element name="original_price" type="xsd:string" minOccurs="0" />
                    <element name="base_original_price" type="xsd:string" minOccurs="0" />
                    <element name="tax_percent" type="xsd:string" minOccurs="0" />
                    <element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="discount_percent" type="xsd:string" minOccurs="0" />
                    <element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="discount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="amount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_amount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="row_total" type="xsd:string" minOccurs="0" />
                    <element name="base_row_total" type="xsd:string" minOccurs="0" />
                    <element name="row_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_row_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="row_weight" type="xsd:string" minOccurs="0" />
                    <element name="gift_message_id" type="xsd:string" minOccurs="0" />
                    <element name="gift_message" type="xsd:string" minOccurs="0" />
                    <element name="gift_message_available" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_before_discount" type="xsd:string" minOccurs="0" />
                    <element name="tax_before_discount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied_amount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied_row_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_applied_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_applied_row_amount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_disposition" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_row_disposition" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_disposition" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_row_disposition" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="orderItemIdQty">
                <all>
                    <element name="order_item_id" type="xsd:int" />
                    <element name="qty" type="xsd:double" />
                </all>
            </complexType>
            <complexType name="orderItemIdQtyArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:orderItemIdQty[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderPaymentEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="amount_ordered" type="xsd:string" minOccurs="0" />
                    <element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_amount_ordered" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="method" type="xsd:string" minOccurs="0" />
                    <element name="po_number" type="xsd:string" minOccurs="0" />
                    <element name="cc_type" type="xsd:string" minOccurs="0" />
                    <element name="cc_number_enc" type="xsd:string" minOccurs="0" />
                    <element name="cc_last4" type="xsd:string" minOccurs="0" />
                    <element name="cc_owner" type="xsd:string" minOccurs="0" />
                    <element name="cc_exp_month" type="xsd:string" minOccurs="0" />
                    <element name="cc_exp_year" type="xsd:string" minOccurs="0" />
                    <element name="cc_ss_start_month" type="xsd:string" minOccurs="0" />
                    <element name="cc_ss_start_year" type="xsd:string" minOccurs="0" />
                    <element name="payment_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderStatusHistoryEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="is_customer_notified" type="xsd:string" minOccurs="0" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="comment" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderStatusHistoryEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderStatusHistoryEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>

            <complexType name="customAttributeEntity">
                <all>
                    <element name="field_id" type="xsd:string" />
                    <element name="field_value" type="xsd:string" />
                </all>
            </complexType>
            <complexType name="customAttributeEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:customAttributeEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="customObjectEntity">
                <all>
                    <element name="field_id" type="xsd:string" />
                    <element name="field_value" type="xsd:string" />
                </all>
            </complexType>
            <complexType name="customObjectEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:customObjectEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="customCustomerEntity">
                <all>
                    <element name="entity" type="typens:shoppingCartCustomerEntity" minOccurs="0" />
                    <element name="address" type="typens:shoppingCartCustomerAddressEntityArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="shoppingCartCustomerEntity">
                <all>
                    <element name="mode" type="xsd:string" minOccurs="0"/>
                    <element name="customer_id" type="xsd:int" minOccurs="0"/>
                    <element name="email" type="xsd:string" minOccurs="0"/>
                    <element name="firstname" type="xsd:string" minOccurs="0"/>
                    <element name="lastname" type="xsd:string" minOccurs="0"/>
                    <element name="password" type="xsd:string" minOccurs="0"/>
                    <element name="confirmation" type="xsd:string" minOccurs="0"/>
                    <element name="website_id" type="xsd:int" minOccurs="0"/>
                    <element name="store_id" type="xsd:int" minOccurs="0"/>
                    <element name="group_id" type="xsd:int" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="shoppingCartCustomerAddressEntity">
                <all>
                    <element name="mode" type="xsd:string" minOccurs="0"/>
                    <element name="address_id" type="xsd:string" minOccurs="0"/>
                    <element name="firstname" type="xsd:string" minOccurs="0"/>
                    <element name="lastname" type="xsd:string" minOccurs="0"/>
                    <element name="company" type="xsd:string" minOccurs="0"/>
                    <element name="street" type="xsd:string" minOccurs="0"/>
                    <element name="city" type="xsd:string" minOccurs="0"/>
                    <element name="region" type="xsd:string" minOccurs="0"/>
                    <element name="region_id" type="xsd:string" minOccurs="0"/>
                    <element name="postcode" type="xsd:string" minOccurs="0"/>
                    <element name="country_id" type="xsd:string" minOccurs="0"/>
                    <element name="telephone" type="xsd:string" minOccurs="0"/>
                    <element name="fax" type="xsd:string" minOccurs="0"/>
                    <element name="is_default_billing" type="xsd:int" minOccurs="0"/>
                    <element name="is_default_shipping" type="xsd:int" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="shoppingCartCustomerAddressEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:shoppingCartCustomerAddressEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="shoppingCartProductEntity">
                <all>
                    <element name="product_id" type="xsd:string" minOccurs="0"/>
                    <element name="sku" type="xsd:string" minOccurs="0"/>
                    <element name="qty" type="xsd:double" minOccurs="0"/>
                    <element name="customprice" type="xsd:double" minOccurs="0"/>
                    <element name="f3_gc_info" type="typens:f3GcInfoEntityArray" minOccurs="0" maxOccurs="1"/>
                    <element name="options" type="typens:associativeArray" minOccurs="0"/>
                    <element name="bundle_option" type="typens:associativeArray" minOccurs="0"/>
                    <element name="bundle_option_qty" type="typens:associativeArray" minOccurs="0"/>
                    <element name="links" type="typens:ArrayOfString" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="shoppingCartProductEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:shoppingCartProductEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="shoppingCartPaymentMethodEntity">
                <all>
                    <element name="po_number" type="xsd:string" minOccurs="0"/>
                    <element name="method" type="xsd:string" minOccurs="0"/>
                    <element name="cc_cid" type="xsd:string" minOccurs="0"/>
                    <element name="cc_owner" type="xsd:string" minOccurs="0"/>
                    <element name="cc_number" type="xsd:string" minOccurs="0"/>
                    <element name="cc_type" type="xsd:string" minOccurs="0"/>
                    <element name="cc_exp_year" type="xsd:string" minOccurs="0"/>
                    <element name="cc_exp_month" type="xsd:string" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="customOrderItemEntity">
                <all>
                    <element name="product_sku" type="xsd:string" />
                    <element name="product_id" type="xsd:string" />
                    <element name="order_item_id" type="xsd:string" />
                </all>
            </complexType>
            <complexType name="customOrderItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:customOrderItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="f3GcInfoEntity">
                <all>
                    <element name="aw_gc_amount" type="xsd:double" minOccurs="1" maxOccurs="1"/>
                    <element name="aw_gc_sender_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="aw_gc_sender_email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="aw_gc_recipient_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="aw_gc_recipient_email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="aw_gc_message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="aw_gc_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </all>
            </complexType>
            <complexType name="f3GcInfoEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:f3GcInfoEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="giftCodeEntity">
                <all>
                    <element name="auth_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <element name="auth_code_applied_amt" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </all>
            </complexType>
            <complexType name="giftCodeEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:giftCodeEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="folio3_salesOrderGetSalesOrderInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="increment_id" type="xsd:string" />
    </message>
    <message name="folio3_salesOrderGetSalesOrderInfoResponse">
        <part name="result" type="typens:salesOrderEntity" />
    </message>
    <message name="folio3_salesOrderCreateSalesOrderRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="storeId" type="xsd:string"/>
        <part name="customer" type="typens:customCustomerEntity"/>
        <part name="products" type="typens:shoppingCartProductEntityArray"/>
        <part name="shippingmethod" type="xsd:string"/>
        <part name="customshippingcost" type="xsd:double"/>
        <part name="paymentmethod" type="typens:shoppingCartPaymentMethodEntity"/>
        <part name="history" type="xsd:string" />
        <part name="status" type="xsd:string" />
        <part name="giftCodes" type="typens:giftCodeEntityArray"/>
    </message>
    <message name="folio3_salesOrderCreateSalesOrderResponse">
        <part name="result" type="typens:customObjectEntityArray" />
        <part name="orderitementityarray" type="typens:customOrderItemEntityArray" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="folio3_salesOrderGetSalesOrderInfo">
            <documentation>Retrieve order information extended</documentation>
            <input message="typens:folio3_salesOrderGetSalesOrderInfoRequest" />
            <output message="typens:folio3_salesOrderGetSalesOrderInfoResponse" />
        </operation>
        <operation name="folio3_salesOrderCreateSalesOrder">
            <documentation>Create Sales Order</documentation>
            <input message="typens:folio3_salesOrderCreateSalesOrderRequest" />
            <output message="typens:folio3_salesOrderCreateSalesOrderResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="folio3_salesOrderGetSalesOrderInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="folio3_salesOrderCreateSalesOrder">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
